{% extends 'base.html.j2' %}
{% block title %}
    {# <body style="background:url({{'image/'poke_pic.background_image}});"> #}
    Pokemon Homepage
{% endblock %}

{% block content %}
    <h1>Greeting's Fellow Pokemon Lover...Or is it Fighter?</h1>
    <h6>Stay tuned for a more interactive website, coming soon.</h6>
    <h6>ETA a fortnight...</h6>
{% endblock %}