{% extends 'base.html.j2' %}
{% block title %}
  {% if current_user.is_authenticated %}
    Pokemon
  {% else %}
    Register
  {% endif %}
{% endblock %}

{% block content %}
<h1>
  {% if current_user.is_authenticated %}
    Pokemon Collection
  {% else %}
    Register
  {% endif %}
</h1>
<form action="{{url_for('main.pokemon')}}" method="POST">
  {{form.hidden_tag()}}
  <div>
  {{form.pokemon1.label(class="form-label")}}
  {{form.pokemon1(class="form-control", value = current_user.pokemon1)}}
  {% if error %}<small style="color:red;">{{error}}</small>
  {% endif %}
  {% for error in form.pokemon1.errors %}
    <small style="color:red;">{{error}}</small>
  {% endfor %}
  </div>
  
  <br>

  <div>
  {{form.submit(class="btn btn-primary form-control")}}
  </div>
</form>
{% if poke %}

  <table class="table table-success table-striped">
    <thead>
      <tr>
          <th scope="col">Name</th>
          <th scope="col">Ability</th>
          <th scope="col">Base_experience</th>
          <th scope="col">Sprites</th>
          <th scope="col">stats_attack</th>
          <th scope="col">stats_hp</th>
          <th scope="col">Stats_defense</th>
      </tr>
    </thead>
    <tbody>
      <tr>
      <th scope="row">{{poke['name']}}</th>
          {# <td>{{poke.name}}</td> #}
          <td>{{poke.ability}}</td>
          <td>{{poke.base_expereince}}</td>
          
          <td><img src= {{poke.sprites}}></td>
          <td>{{poke.stats_attack}}</td>
          <td>{{poke.stats_hp}}</td>
          <td>{{poke.stats_defense}}</td>
        </tr>
    </tbody>
  </table>
{% endif %}
{% endblock %}