{% extends 'base.html.j2' %}
{% block title %}
Time for Battle
{% endblock %}

{% block content %}
<h1>Players</h1>
<p class="card-text">Please Pick a player to battle</p>

<hr>
{% for pokeman in pokemans %}
{%for user in users %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
            <img src= {{pokeman.sprites}} class="img-fluid rounded-start" alt="avatar">
            </div>
            <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{pokeman.poke_name}}</h5>
                <h5 class="card-title">{{user.first_name}}</h5>
                <h5>wins: {{user.wins}}</h5> 
                {# {% if user %} #}
                <a href="{{url_for('main.delete_poke', id=pokeman.poke_id)}}" class="btn btn-primary"><i class="bi bi-send-fill"></i>&nbsp;Delete!</a> 
                {# {% endif %} #}
            </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endfor %}
{% endblock %}


